* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('../assets/back.gif');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(#333, 0.8);
  padding: 1em;
  z-index: 1000;
  text-align: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 0 1em;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #7e0000;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.intro-text h1 {
  font-size: 3em;
}

.intro-text p {
  font-size: 1.2em;
}

.cta-button {
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  background: #ff5733;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background: #c63e17;
}

.services {
  padding: 2em 1em;
  text-align: center;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: white

}

.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.service-card {
  width: 200px;
  padding: 1em;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects {
  padding: 2em 1em;
  color: white;
  text-align: center;
}

.projects h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.project-card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
}

.skills {
  padding: 2em 1em;
  color: white;
  text-align: center;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.skill-list span {
  background: #ff5733;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.contact {
  padding: 2em 1em;
  text-align: center;
  background: #333;
  color: #fff;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.contact a.cta-button {
  color: #333;
  background: #ff5733;
}

.contact img {
  transform: translate(50%, -60%);
  position: absolute;
}

footer {
  background: #222;
  color: #ccc;
  padding: 1em 0;
  text-align: center;
  font-size: 0.9em;
}
