* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(253, 253, 253) }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('../assets/back.gif');
}

.navbar {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(#333, 0.8);
  padding: 1em;
  z-index: 1000;
  text-align: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 0 1em;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #7e0000;
}

.intro {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.intro-text img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.intro-text h1 {
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255); 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  font-size: 3em;
}

.intro-text p {
  font-size: 1.2em;
}

.cta-button {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  background: #ff5733;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background: #c63e17;
}

.redes {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2em 1em;
  text-align: center;
}
.redes img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.redes h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: white

}
.discord {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: 35%;
}
.projects {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2em 1em;
  color: white;
  text-align: center;
}

.projects h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
}

.project-gallery {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.project-card {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
}
.projects {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: grid; 
  place-items: center;
}
.project-craft {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  transition: transform 1s;
}

.project-craft img {
  height: 69px;
  border-radius: 10%;
  transition: transform 1s;
}

.project-craft.virado {
  transform: rotateY(360deg);
}
.project-discord {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  transition: transform 1s;
  transform: translate(165px,-125px);

}
.project-discord img {
  height: 69px;
}
.skills {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2em 1em;
  color: white;
  text-align: center;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.skill-list span {
  background: #ff5733;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.contact {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 2em 1em;
  text-align: center;
  background: #333;
  color: #fff;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.contact a.cta-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
}

.contact img {
  transform: translate(35%, -160%);
  position: absolute;
}

footer {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: #222;
  color: #ccc;
  padding: 1em 0;
  text-align: center;
  font-size: 0.9em;
}

/* Cell*/
@media (max-width: 768px) {
  .navbar ul {
    visibility: hidden;
    width: 0px;

  }
  .intro {
    padding: 0.1em;
  }

  .intro img {
    width: 150px;
    height: 150px;
  }

  .intro-text h1 {
    font-size: 1em;
  }

  .intro-text p {
    font-size: 1em;
  }

  .redes h2,
  .projects h2,
  .skills h2,
  .contact h2 {
    font-size: 1.5em;
  }

  .project-craft {
    width: 100%;
    margin-bottom: 1em;
  }
  .skill-list img {
    width: 85%;
  }
  .contact a.cta-button {
    width: 100%;
  }
  .discord {
    visibility: hidden;
    width: 0px;
  }
  .project-discord {
    transform: translate(0px,0px);
  }
  .contact img {
    visibility: hidden;
    width: 0px;
  }

  footer {
    font-size: 0.8em;
  }
}
